<ion-view title="{{series.info.title}}">
    <ion-content class="has-header">
        <div class="img-area">
            <img autoheightepisode class="imgseries" src="img/sample1.png" ng-src="{{URL}}/media/{{series.info.imgurl}}" alt="" onerror="this.src='img/blank.png'">
        </div>
        <div class="list ahalist">
            <a class="item" ng-repeat="item in series.data" href="#/app/player/{{item.idvideo}}">
                <img class="img-area" ng-src="https://i.ytimg.com/vi/{{item.youtube}}/default.jpg">
                <h2 class="title">{{item.title}}</h2>
                <pre class="desc">{{item.desc}}</pre>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>

