<ion-view title="<img class='title-image' src='img/logo_kor.png' />" >
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon">
            <img class="nav-img" src="img/list.png">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="highlight">
            <ion-slide-box class="ahaslide">
                <ion-slide ng-repeat="item in home.main">
                    <div class="preview">
                        <img ng-src="{{imageurl(item)}}">
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="button-bar" ng-init="isseries=true;isfavorite=false;">
            <button class="button  aha-home " ng-class="{'button-dark':isfavorite}" ng-click="isseries=true;isfavorite=false;series();"> 시리즈별</button>
            <button class="button  aha-hot" ng-class="{'button-dark':!isfavorite}" ng-click="isseries=false;isfavorite=true;favorite();"> 인기 VOD</button>
        </div>
        <ion-scroll class="ahascroll" direction="y" autoheight>
            <div class="list ahalist">
                <a class="item" ng-repeat="item in datalist" ng-href="{{linkurl(item)}}">
                    <img class="img-area" ng-src="{{imageurl(item)}}">
                    <h2 class="title">{{item.title}}</h2>
                    <pre class="desc">{{item.content}}</pre>
                    <i class="icon ion-chevron-right"></i>
                </a>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>
