<script id="opinions.html" type="text/ng-template">
    <ion-modal-view class="ahamodal modal-opinions">
        <ion-header-bar>
            <div class="button button-clear button-small" ng-click="openOpinionWriteModal()">
                <img class="nav-img" src="img/Write.png">
            </div>
            <h1 class="title">의견보기</h1>
            <div class="button button-clear button-small" ng-click="opinion_modal.hide()">
                <img class="nav-img" src="img/close_2.png">
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="list aha-opinions-list">
                <div class="item " ng-repeat="item in opinion_items" ng-click="showOpinion(item)">
                    <div class="title">
                        {{item.nickname}} 
                        <span class="date">{{item.date}}</span>
                        <div class="btn-delete" ng-click="deleteOpinion($event,item)">
                            <img class="share-img" src="img/trash.png">          
                        </div>
                    </div>
                    <pre class="desc">{{item.comments|cut:false:100:'...'}}</pre>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
<script id="writeopinion.html" type="text/ng-template">
    <form name="inputform" novalidate>
        <ion-modal-view class="ahamodal modal-writeopinion">
            <ion-header-bar>
                <div class="button button-clear button-small" ng-disabled="inputform.$invalid" ng-click="writeOpinion()">
                    <img class="nav-img" src="img/ok.png">
                </div>
                <h1 class="title">의견쓰기</h1>
                <div class="button button-clear" ng-click="write_opinion_modal.hide()">
                    <img class="nav-img" src="img/close_2.png">
                </div>
            </ion-header-bar>
            <ion-content>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <!--
                        <span ng-show="inputform.nickname.$valid" class="input-label">별명</span>
                        <span class="assertive" ng-show="inputform.nickname.$error.required">별명을 입력하셔야 합니다.</span>
                        <span class="assertive" ng-show="inputform.nickname.$error.minlength">별명이 너무 짧아요</span>
                        <span class="assertive" ng-show="inputform.nickname.$error.maxlength">별명이 너무 길어요</span>
                        -->
                        <input class="padding-left10" type="text" placeholder="별명 입력" name="nickname" ng-model="newopinion.nickname" ng-required="true" ng-minlength="2" ng-maxlength="20">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <!--
                        <span ng-show="inputform.password.$valid" class="input-label">암호</span>
                        <span class="assertive" ng-show="inputform.password.$error.required">비밀번호를 입력하셔야 합니다.</span>
                        <span class="assertive" ng-show="inputform.password.$error.minlength">비밀번호가 너무 짧아요</span>
                        <span class="assertive" ng-show="inputform.password.$error.maxlength">비밀번호가 너무 길어요</span>
                        -->
                        <input class="padding-left10" type="password" name="password" placeholder="비밀번호 입력" ng-model="newopinion.passwd" ng-required="true" ng-minlength="4" ng-maxlength="20">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <!--
                        <span ng-show="inputform.comments.$valid" class="input-label">의견</span>
                        <span class="assertive" ng-show="inputform.comments.$error.required">의견을 입력하셔야 합니다.</span>
                        <span class="assertive" ng-show="inputform.comments.$error.maxlength">의견이 너무 길어요</span>
                        -->
                        <textarea class="padding-left10" placeholder="의견을 입력하세요." name="comments" style="height:200px;" ng-model="newopinion.comments" ng-required="true" ng-maxlength="300"></textarea>
                    </label>
                </div>
            </ion-content>
        </ion-modal-view>
    </form>
</script>
<ion-view title="{{videoinfo.title||'동영상'}}" class="youtube">
    <ion-content class="has-header" >
        <youtube code="videoinfo.youtube" ng-class="playerclass" ></youtube>

        <div class="row share-area">
            <div class="col col-50">
                <button class="button button-clear button-small" ng-click="shareall(videoinfo.desc,videoinfo.youtube)">
                    <img class="share-img" src="img/share.png">
                </button>
            </div>
            <div class="col col-50 text-right">
                <button class="button button-clear button-small" ng-click="twittershare(videoinfo.desc,videoinfo.youtube)">
                    <img class="share-img" src="img/twitter.png">
                </button>
                <button class="button button-clear button-small" ng-click="facebookshare(videoinfo.desc,videoinfo.youtube)">
                    <img class="share-img" src="img/facebook.png">
                </button>
                <button class="button button-clear button-small" ng-click="kakaoshare(videoinfo.desc,videoinfo.youtube)">
                    <img class="share-img" src="img/talk.png">
                </button>
            </div>
        </div>
        <a class="item item-icon-right" ng-init="showmore = false" ng-click="showmore = !showmore">
            <span ng-show="!showmore">{{videoinfo.desc}}</span>
            <pre ng-show="showmore">{{videoinfo.desc}}</pre>
            <button class="button button-clear button-small btn-more-area">
                <img ng-show="!showmore" class="share-img" src="img/more.png">
                <img ng-show="showmore" class="share-img" src="img/close.png">
            </button>
        </a>
        <ion-slide-box class="playerslide">
            <ion-slide ng-repeat="item in series">
                <div class="row">
                    <a ng-repeat="subitem in item" class="col playeritem" href="#/app/player/{{subitem.idvideo}}">
                        <img ng-src="https://i.ytimg.com/vi/{{subitem.youtube}}/default.jpg">
                        <p>{{subitem.title}}</p>
                    </a>
                </div>
            </ion-slide>
        </ion-slide-box>

    </ion-content>
    <div class="bar bar-footer" ng-show="option.showfooter">
        <div class="title title-link" ng-click="openOpinionModal()">의견보기 / 의견쓰기</div>
    </div>
</ion-view>
